# ==========================================
# Frontend Docker Environment Variables
# ==========================================

# Port where Nginx will expose the Angular frontend
FRONTEND_PORT=80
